:root {
  --dark-red: #961A22;
  --primary-red: #BF2D1E;
  --orange-red: #D55023;
  --deep-orange: #E47A24;
  --gold: #ECAF23;
  --dark-maroon: #791118;
  --light-bg: #F8F7F3;
  --beige: #F4DEC9;
  --deep-red: #6D0000;
  --black: #000000;
  --primary-bg: #f5ebe1;
  --primary-dark: #8b1e12;
  --primary-light: #f4a261;
  --secondary-light: #e76f51;
  --text-dark: #3d1c0d;
  --text-light: #fff;
  --border-radius: 12px;
  --font-family: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: #F8F7F3;
  color: var(--black);
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 10px;
  background-color: var(--light-bg);
  width: calc(100% - 20px);
  margin-left: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 15px 20px;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.search-container {
  position: relative;
  width: 125px;
  margin-right: 55px;
}

.search-bar {
  padding: 8px 30px 8px 40px;
  border: 1px solid #BF2D1E;
  border-radius: 20px;
  width: 100%;
  background-color: #F4DEC9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.search-bar:focus {
  outline: 3px solid #ECAF23;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  z-index: 1;
}

.search-bar:focus + .search-icon {
  fill: #961A22;
}

.mainContent {
  margin-left: 20px;
}

.welcome-text,
.total-books,
.data-shelf-header,
.top-rated,
.top-books-list,
.genre-mood-board {
  background-color: #F4DEC9;
  border: 2px solid #961A22;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.welcome-text {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total-books {
  width: 25%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-text p {
  font-size: 1.13rem;
  color: #000000;
}

.total-books h3 {
  font-size: 1.6rem;
  margin: 0;
}

.total-books p {
  font-size: 1.4rem;
  color: #333;
}

.data-shelf {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: left;
}

h2 {
  text-align: left;
  width: 100%;
}

.data-shelf > .data-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: left;
  gap: 20px;
}

.genre-mood-board,
.top-rated {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.genre-mood-board {
  width: 90%;
}

.top-rated {
  width: 40%;
}

.top-rated ol {
  padding-left: 20px;
  font-size: 15px;
  text-align: left;
}

.genre-buttons button {
  background-color: var(--primary-red);
  color: white;
  border: none;
  padding: 12px 18px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out, transform 0.4s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.genre-buttons button:hover {
  background-color: var(--deep-orange);
  transform: scale(1.1);
}

.genre-buttons button:active {
  transform: scale(0.98);
}

.genre-buttons button:disabled {
  background-color: #D3D3D3;
  cursor: not-allowed;
}

.genre-buttons .active {
  background-color: var(--gold);
  color: var(--black);
}

.top-books-list,
.top-rated-books {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

hr {
  border-top: 3px solid #6D0000;
  height: 0;
  border-radius: 10px;
  width: 100%;
  display: block !important;
  visibility: visible !important;
  flex-basis: 100%;
  margin-left: 0;
}

.chart-section-text {
  background-color: var(--beige);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #961A22;
  margin-top: 15px;
  margin-bottom: 20px;
}

.recharts-bar-rectangle {
  fill: inherit !important;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .content {
    margin: 0;
    padding: 10px;
  }

  .search-container {
    width: 100%;
    margin-right: 0;
  }
  
  .welcome-text,
  .total-books {
    width: 100%;
  }
}
